* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    background-color: white;
    overflow-y: auto; 
}

.container {
    max-width: 1200px;
    width: 100%; 
    padding: 20px;
    position: sticky; 
    top: 0;
    background-color: white; 
    z-index: 10;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #7A003C;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin-left: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #7A003C;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #FDBF57;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto; 
    flex-grow: 1; 
    width: 100%;
    height: calc(100vh - 120px); 
}

.result-item {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-item h3 {
    position: absolute;  
    bottom: 50;           
    left: 0;             
    color: black;        
    padding: 10px;       
    font-size: 16px;     
    width: 100%;         
}

.result-item p {
    position: absolute; 
    bottom: 10px;
    left: 10px; 
    right: 10px; 
    font-style: italic;
    font-size: 0.8rem;
    color: black;
    text-align: left; 
    z-index: 1; 
    margin: 0; 
}

.result-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7A003C; 
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}

.result-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 250px;
    }

    button {
        padding: 8px;
    }

    .result-item {
        height: 150px;
    }

    .result-item h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    input[type="text"] {
        width: 200px;
    }

    button {
        padding: 8px;
        font-size: 0.9rem;
    }

    .result-item {
        height: 120px;
    }

    .result-item h3 {
        font-size: 1rem;
    }
}

footer { 
    background-color: white;
    color: black;
    text-align: center;
    font-style: italic;
    padding: 15px 20px;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
} 
